@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  /* Custom Theme Variables */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f3f4f6;
  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
}

@theme {
  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  
  --animate-text-shimmer: text-shimmer 3s linear infinite;

  @keyframes text-shimmer {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
  }
}
